<a href="https://colab.research.google.com/github/Renata-Thomazelli/mentoria2021/blob/main/tratando_doc_csv_tasmax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>**Analisando Temperatura média**<font>

**Analisando Temperatura média**


---

##Importing the Data

---

In [ ]:
# Importing Drive
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Importing the packages 
import pandas as pd
import numpy as np
import chardet
import missingno as msno
import matplotlib.pyplot as plt
%matplotlib inline

<font color='blue'>  Reading CSV  

Reading CSV

In [ ]:
file_path ='/content/drive/MyDrive/Temperatura_Precipitacao_analises/limpos/quartile_for_year/'


file = "tasmax_seasons_for_year_consolidado.csv"

In [ ]:
with open(f"{file_path}{file}", 'rb') as encoding:
    r_encoding = chardet.detect(encoding.read(100000))
r_encoding

{'confidence': 1.0, 'encoding': 'ascii', 'language': ''}

In [ ]:

with open (f"{file_path}{file}",'r',encoding=r_encoding['encoding']) as arquivo :
  df_tasmax = pd.read_csv(arquivo)

<font color='blue'> DataFrame

In [ ]:
df_tasmax

     year   min    25%    50%    75%   max    country iso3    tipo
0    1960   5.7   9.15  18.05  25.15  29.1     Turkey  TUR  tasmax
1    1961   4.0   8.78  18.35  24.10  30.0     Turkey  TUR  tasmax
2    1962   4.9  11.53  17.75  26.68  31.2     Turkey  TUR  tasmax
3    1963   5.7   8.02  16.45  25.28  30.3     Turkey  TUR  tasmax
4    1964   0.6   9.02  17.45  25.02  29.0     Turkey  TUR  tasmax
..    ...   ...    ...    ...    ...   ...        ...  ...     ...
848  2016  30.6  30.87  31.15  31.25  31.5  Indonesia  IDN  tasmax
849  2017  30.7  30.78  30.95  31.02  31.5  Indonesia  IDN  tasmax
850  2018  30.4  30.85  31.10  31.22  31.5  Indonesia  IDN  tasmax
851  2019  30.9  31.08  31.10  31.33  31.4  Indonesia  IDN  tasmax
852  2020  30.7  30.95  31.20  31.40  31.5  Indonesia  IDN  tasmax

[853 rows x 9 columns]

In [ ]:
colunas = [c.strip().lower().replace("50%","tasmax") for c in df_tasmax.columns]
df_tasmax.columns = colunas

In [ ]:
df_tasmax

     year   min    25%  tasmax    75%   max    country iso3    tipo
0    1960   5.7   9.15   18.05  25.15  29.1     Turkey  TUR  tasmax
1    1961   4.0   8.78   18.35  24.10  30.0     Turkey  TUR  tasmax
2    1962   4.9  11.53   17.75  26.68  31.2     Turkey  TUR  tasmax
3    1963   5.7   8.02   16.45  25.28  30.3     Turkey  TUR  tasmax
4    1964   0.6   9.02   17.45  25.02  29.0     Turkey  TUR  tasmax
..    ...   ...    ...     ...    ...   ...        ...  ...     ...
848  2016  30.6  30.87   31.15  31.25  31.5  Indonesia  IDN  tasmax
849  2017  30.7  30.78   30.95  31.02  31.5  Indonesia  IDN  tasmax
850  2018  30.4  30.85   31.10  31.22  31.5  Indonesia  IDN  tasmax
851  2019  30.9  31.08   31.10  31.33  31.4  Indonesia  IDN  tasmax
852  2020  30.7  30.95   31.20  31.40  31.5  Indonesia  IDN  tasmax

[853 rows x 9 columns]

In [ ]:
df_tasmax_mediana = pd.pivot_table(df_tasmax, values =['tasmax'], columns=['iso3'], index='year')

In [ ]:
df_tasmax_mediana

     tasmax                             ...
iso3    AUS    BRA   CAN    CHN    DEU  ...    IND    PHL   RUS    TUR    USA
year                                    ...
1960  29.20  30.35 -2.75  14.76  12.45  ...  30.30  29.60 -2.10  18.05  13.65
1961  30.20  30.45 -3.65  14.08  14.90  ...  30.15  29.55 -1.70  18.35  12.35
1962  29.10  30.50 -2.45  13.76  13.40  ...  30.10  29.35 -0.40  17.75  14.15
1963  28.95  30.60 -0.80  14.31  12.90  ...  30.75  29.55 -1.50  16.45  14.80
1964  28.25  30.40 -3.40  14.17  12.20  ...  30.45  29.65 -2.90  17.45  13.35
...     ...    ...   ...    ...    ...  ...    ...    ...   ...    ...    ...
2016  30.25  31.30 -2.70  14.83  12.70  ...  31.25  30.15  0.45  20.10  15.55
2017  30.05  31.15 -2.20  14.98  14.05  ...  31.35  29.90  0.30  18.00  15.05
2018  31.45  31.00 -3.85  15.56  17.15  ...  31.10  30.30  1.95  20.25  13.45
2019  31.10  31.25 -2.60  14.58  15.50  ...  30.90  29.90  1.30  18.70  13.90
2020  30.35  31.40 -3.55    NaN  15.45  ...  31.35  30.35  2.20  19.20  13.85

[61 rows x 14 columns]

In [ ]:
df_tasmax_mediana =df_tasmax_mediana.swaplevel(i=-2,j=-1,axis=1)

In [ ]:
df_tasmax_mediana

iso3    AUS    BRA    CAN    CHN    DEU  ...    IND    PHL    RUS    TUR    USA
     tasmax tasmax tasmax tasmax tasmax  ... tasmax tasmax tasmax tasmax tasmax
year                                     ...
1960  29.20  30.35  -2.75  14.76  12.45  ...  30.30  29.60  -2.10  18.05  13.65
1961  30.20  30.45  -3.65  14.08  14.90  ...  30.15  29.55  -1.70  18.35  12.35
1962  29.10  30.50  -2.45  13.76  13.40  ...  30.10  29.35  -0.40  17.75  14.15
1963  28.95  30.60  -0.80  14.31  12.90  ...  30.75  29.55  -1.50  16.45  14.80
1964  28.25  30.40  -3.40  14.17  12.20  ...  30.45  29.65  -2.90  17.45  13.35
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
2016  30.25  31.30  -2.70  14.83  12.70  ...  31.25  30.15   0.45  20.10  15.55
2017  30.05  31.15  -2.20  14.98  14.05  ...  31.35  29.90   0.30  18.00  15.05
2018  31.45  31.00  -3.85  15.56  17.15  ...  31.10  30.30   1.95  20.25  13.45
2019  31.10  31.25  -2.60  14.58  15.50  ...  30.90  29.90   1.30  18.70  13.90
2020  30.35  31.40  -3.55    NaN  15.45  ...  31.35  30.35   2.20  19.20  13.85

[61 rows x 14 columns]

In [ ]:
df_tasmax_mediana.index.name=None

In [ ]:
df_tasmax_mediana

iso3    AUS    BRA    CAN    CHN    DEU  ...    IND    PHL    RUS    TUR    USA
     tasmax tasmax tasmax tasmax tasmax  ... tasmax tasmax tasmax tasmax tasmax
1960  29.20  30.35  -2.75  14.76  12.45  ...  30.30  29.60  -2.10  18.05  13.65
1961  30.20  30.45  -3.65  14.08  14.90  ...  30.15  29.55  -1.70  18.35  12.35
1962  29.10  30.50  -2.45  13.76  13.40  ...  30.10  29.35  -0.40  17.75  14.15
1963  28.95  30.60  -0.80  14.31  12.90  ...  30.75  29.55  -1.50  16.45  14.80
1964  28.25  30.40  -3.40  14.17  12.20  ...  30.45  29.65  -2.90  17.45  13.35
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
2016  30.25  31.30  -2.70  14.83  12.70  ...  31.25  30.15   0.45  20.10  15.55
2017  30.05  31.15  -2.20  14.98  14.05  ...  31.35  29.90   0.30  18.00  15.05
2018  31.45  31.00  -3.85  15.56  17.15  ...  31.10  30.30   1.95  20.25  13.45
2019  31.10  31.25  -2.60  14.58  15.50  ...  30.90  29.90   1.30  18.70  13.90
2020  30.35  31.40  -3.55    NaN  15.45  ...  31.35  30.35   2.20  19.20  13.85

[61 rows x 14 columns]

In [ ]:
caminho ='/content/drive/MyDrive/Temperatura_Precipitacao_analises/limpos/'
nome = 'df_tasmax_mediana.csv'
df_tasmax_mediana.to_csv(f"{caminho}{nome}")