<a href="https://colab.research.google.com/github/Renata-Thomazelli/mentoria2021/blob/main/tratando_doc_csv_tas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>**Analisando Temperatura média**<font>

**Analisando Temperatura média**


---

##Importing the Data

---

In [ ]:
# Importing Drive
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Importing the packages 
import pandas as pd
import numpy as np
import chardet
import missingno as msno
import matplotlib.pyplot as plt
%matplotlib inline

<font color='blue'>  Reading CSV  

Reading CSV

In [ ]:
file_path ='/content/drive/MyDrive/Temperatura_Precipitacao_analises/limpos/quartile_for_year/'


file = "tas_seasons_for_year_consolidado.csv"

In [ ]:
with open(f"{file_path}{file}", 'rb') as encoding:
    r_encoding = chardet.detect(encoding.read(100000))
r_encoding

{'confidence': 1.0, 'encoding': 'ascii', 'language': ''}

In [ ]:

with open (f"{file_path}{file}",'r',encoding=r_encoding['encoding']) as arquivo :
  df_tas = pd.read_csv(arquivo)

<font color='blue'> DataFrame

In [ ]:
df_tas

     year   min    25%    50%    75%   max    country iso3 tipo
0    1960   1.3   4.68  12.10  18.20  21.7     Turkey  TUR  tas
1    1961  -0.3   3.63  11.95  17.00  22.5     Turkey  TUR  tas
2    1962   0.5   6.32  11.85  19.00  23.4     Turkey  TUR  tas
3    1963   2.0   3.50  11.15  18.35  22.6     Turkey  TUR  tas
4    1964  -4.8   4.55  11.25  17.77  21.7     Turkey  TUR  tas
..    ...   ...    ...    ...    ...   ...        ...  ...  ...
849  2016  25.9  26.30  26.40  26.55  26.9  Indonesia  IDN  tas
850  2017  25.9  26.08  26.20  26.40  26.6  Indonesia  IDN  tas
851  2018  25.9  26.00  26.25  26.42  26.6  Indonesia  IDN  tas
852  2019  25.8  26.17  26.40  26.60  26.8  Indonesia  IDN  tas
853  2020  25.9  26.17  26.45  26.52  26.8  Indonesia  IDN  tas

[854 rows x 9 columns]

In [ ]:
colunas = [c.strip().lower().replace("50%","tas") for c in df_tas.columns]
df_tas.columns = colunas

In [ ]:
df_tas

     year   min    25%    tas    75%   max    country iso3 tipo
0    1960   1.3   4.68  12.10  18.20  21.7     Turkey  TUR  tas
1    1961  -0.3   3.63  11.95  17.00  22.5     Turkey  TUR  tas
2    1962   0.5   6.32  11.85  19.00  23.4     Turkey  TUR  tas
3    1963   2.0   3.50  11.15  18.35  22.6     Turkey  TUR  tas
4    1964  -4.8   4.55  11.25  17.77  21.7     Turkey  TUR  tas
..    ...   ...    ...    ...    ...   ...        ...  ...  ...
849  2016  25.9  26.30  26.40  26.55  26.9  Indonesia  IDN  tas
850  2017  25.9  26.08  26.20  26.40  26.6  Indonesia  IDN  tas
851  2018  25.9  26.00  26.25  26.42  26.6  Indonesia  IDN  tas
852  2019  25.8  26.17  26.40  26.60  26.8  Indonesia  IDN  tas
853  2020  25.9  26.17  26.45  26.52  26.8  Indonesia  IDN  tas

[854 rows x 9 columns]

In [ ]:
df_tas_mediana = pd.pivot_table(df_tas, values =['tas'], columns=['iso3'], index='year')

In [ ]:
df_tas_mediana

        tas                            ...
iso3    AUS    BRA   CAN   CHN    DEU  ...    IND    PHL   RUS    TUR   USA
year                                   ...
1960  21.95  25.25 -7.05  6.70   8.45  ...  25.45  25.40 -7.15  12.10  7.10
1961  23.00  25.50 -8.10  7.90  10.70  ...  25.20  25.20 -6.55  11.95  5.85
1962  21.80  25.45 -6.90  7.05   8.85  ...  24.90  25.15 -5.45  11.85  7.65
1963  21.85  25.50 -5.55  6.95   8.60  ...  25.50  25.25 -6.35  11.15  8.05
1964  21.45  25.25 -8.00  7.90   8.10  ...  25.40  25.45 -7.85  11.25  6.70
...     ...    ...   ...   ...    ...  ...    ...    ...   ...    ...   ...
2016  22.85  26.45 -7.05  8.55   8.60  ...  26.10  26.30 -3.90  13.40  9.20
2017  22.85  26.25 -6.60  8.50   9.75  ...  26.55  26.00 -4.05  11.55  8.70
2018  23.95  26.05 -8.40  8.40  11.80  ...  25.95  26.15 -2.70  13.80  7.30
2019  23.55  26.35 -6.85  9.05  10.60  ...  25.85  26.10 -3.25  12.55  7.75
2020  23.30  26.55 -7.95  8.05  10.75  ...  26.45  26.30 -2.40  12.85  7.40

[61 rows x 14 columns]

In [ ]:
df_tas_mediana =df_tas_mediana.swaplevel(i=-2,j=-1,axis=1)

In [ ]:
df_tas_mediana

iso3    AUS    BRA   CAN   CHN    DEU  ...    IND    PHL   RUS    TUR   USA
        tas    tas   tas   tas    tas  ...    tas    tas   tas    tas   tas
year                                   ...
1960  21.95  25.25 -7.05  6.70   8.45  ...  25.45  25.40 -7.15  12.10  7.10
1961  23.00  25.50 -8.10  7.90  10.70  ...  25.20  25.20 -6.55  11.95  5.85
1962  21.80  25.45 -6.90  7.05   8.85  ...  24.90  25.15 -5.45  11.85  7.65
1963  21.85  25.50 -5.55  6.95   8.60  ...  25.50  25.25 -6.35  11.15  8.05
1964  21.45  25.25 -8.00  7.90   8.10  ...  25.40  25.45 -7.85  11.25  6.70
...     ...    ...   ...   ...    ...  ...    ...    ...   ...    ...   ...
2016  22.85  26.45 -7.05  8.55   8.60  ...  26.10  26.30 -3.90  13.40  9.20
2017  22.85  26.25 -6.60  8.50   9.75  ...  26.55  26.00 -4.05  11.55  8.70
2018  23.95  26.05 -8.40  8.40  11.80  ...  25.95  26.15 -2.70  13.80  7.30
2019  23.55  26.35 -6.85  9.05  10.60  ...  25.85  26.10 -3.25  12.55  7.75
2020  23.30  26.55 -7.95  8.05  10.75  ...  26.45  26.30 -2.40  12.85  7.40

[61 rows x 14 columns]

In [ ]:
df_tas_mediana.index.name=None

In [ ]:
df_tas_mediana

iso3    AUS    BRA   CAN   CHN    DEU  ...    IND    PHL   RUS    TUR   USA
        tas    tas   tas   tas    tas  ...    tas    tas   tas    tas   tas
1960  21.95  25.25 -7.05  6.70   8.45  ...  25.45  25.40 -7.15  12.10  7.10
1961  23.00  25.50 -8.10  7.90  10.70  ...  25.20  25.20 -6.55  11.95  5.85
1962  21.80  25.45 -6.90  7.05   8.85  ...  24.90  25.15 -5.45  11.85  7.65
1963  21.85  25.50 -5.55  6.95   8.60  ...  25.50  25.25 -6.35  11.15  8.05
1964  21.45  25.25 -8.00  7.90   8.10  ...  25.40  25.45 -7.85  11.25  6.70
...     ...    ...   ...   ...    ...  ...    ...    ...   ...    ...   ...
2016  22.85  26.45 -7.05  8.55   8.60  ...  26.10  26.30 -3.90  13.40  9.20
2017  22.85  26.25 -6.60  8.50   9.75  ...  26.55  26.00 -4.05  11.55  8.70
2018  23.95  26.05 -8.40  8.40  11.80  ...  25.95  26.15 -2.70  13.80  7.30
2019  23.55  26.35 -6.85  9.05  10.60  ...  25.85  26.10 -3.25  12.55  7.75
2020  23.30  26.55 -7.95  8.05  10.75  ...  26.45  26.30 -2.40  12.85  7.40

[61 rows x 14 columns]

In [ ]:
caminho ='/content/drive/MyDrive/Temperatura_Precipitacao_analises/limpos/'
nome = 'df_tas_mediana.csv'
df_tas_mediana.to_csv(f"{caminho}{nome}")